@page "/"

<PageTitle>Home</PageTitle>

<div class="form-group">
    <textarea name="questionTextArea" id="questionTextArea" @bind="Question" placeholder="Enter query here">
    </textarea>
</div>
<div>
    <button class="btn btn-primary" @onclick="OnEnterQuestion">
        Ask Travel Agency Sales Bot
    </button>
</div>